{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "key-spacing": 0,
    "react/prefer-stateless-function": 0,
    "no-return-assign": 0,
    "no-param-reassign": 0,
    "no-sequences": 0,
    "global-require": 0,
    "import/no-unresolved": 0,
    "arrow-body-style": 0,
    "max-len": 0,
    "no-underscore-dangle": 0,
    "prefer-template": 0,
    "consistent-return": 0,
    "react/jsx-no-bind": 0,
    "new-cap": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "operator-linebreak": 0,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "import/prefer-default-export": 0,
    "import/named": 0,
    "prefer-destructuring": 0
  },
  "plugins": ["jest"],
  "env": {
    "jest": true,
    "node" : true,
    "browser": true
  }
}
