.paper {
  width: 600px;
  padding: 10px;
  margin-bottom: 20px;
}

.card {
  margin: 50px 0;
}

.align {
  padding: 10px;
}

.alignButton {
  padding: 10px;
  text-align: right;
}

.alignEdit {
  margin-right: 10px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}